.navbar-nav > li > a.active.hvr-underline-from-left:before {
    right: 5px;
    left: 5px;
    /* top: 59px; */
    background: #fb5f66 !important;
    height: 2px;
}
a {
    color: #337ab7;
    text-decoration: none;
}

.header1{
    padding: 0!important;
}
.header1.sticky {
    font-size: 24px;
    background: white;
    box-shadow: 0 2px 9px 1px rgba(0,0,0,.2);
    /* height: 60px; */
    padding:0!important;
    margin: 0;
    transition: 0.3s ease-in-out;
  }
  .navbar {
    margin-bottom: 0;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
  /* .sticky a.params.hvr-underline-from-left {
    padding: 9px 12px 8px 0px!important;
} */
.navbar-nav>li>a {
    line-height: 35px;
  -webkit-transition: .5s ease-in-out; 
     transition: .5s ease-in-out; 
}
.sticky .navbar-nav>li>a {
    line-height: 25px;
}
.sticky.custom-navbar .signUp a ,.sticky.dashboard a{
    margin-top: 13px!important;
}
.sticky li.nav-lead-input {
    margin-top: 12px;
}

.navbar-brand {
    padding-top: 16px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.custom-navbar.navbar-default {
    background: #fff;
    border: none;
    padding: 0;
    z-index: 998!important;
    border-bottom: 1px solid #f3f8fb;
    padding: 5px 0px;
    -webkit-transition: .4s ease-out;
    transition: .3s ease-in-out;
}
.custom-navbar.navbar-default {
    padding: 0;
}
.custom-navbar.navbar-default .navbar-nav>li>a i.material-icons {
    font-size: 18px;
    vertical-align: sub;
}
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 185px;
    box-shadow: 0px 30px 40px rgba(0,0,0,0.10);
    z-index: 1;
    left: 10px;
    /* top: 60px; */
}
.collapse.in {
    display: block!important;
}
.navbar-collapse.in {
    overflow-y: auto;
}
.dropdown-content a {
    color: #62686c;
    padding: 0px 5px;
    margin: 0px 13px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-family: montserratlight;
    line-height: 46px;
    border-bottom: 1px solid rgba(215,215,215,0.5);
}
.drop-sub-menu a {
    border-bottom: none;
}
.dropdown .dropdown-content a i.material-icons {
    font-size: 14px;
    color: #fb5f66;
    float: right;
    line-height: 46px;
}
.dropdown .dropdown-sub-content {
    display: none;
    position: absolute;
    right: -172px;
    top: 50px;
    background: #fff;
    background-color: #fff;
    /* min-width: 158px; */
    box-shadow: 0px 30px 40px rgba(0,0,0,0.10);
    z-index: 1;
    font-size: 12px;
}
.dropdown .dropdown-sub-content a {
    font-size: 13px;
    border-bottom: 1px solid rgba(215,215,215,0.5);
}
.dropdown-content a:hover {
    color: #fb5f66;
    opacity: 1 !important;
}
.dropdown .drop-sub-menu:hover .dropdown-sub-content {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.custom-navbar .signUp-style a,.dashboard a{
    border-radius: 20px;
    background: #fb5f66 !important;
    color: #fff!important;
    padding: 6px 15px !important;
    line-height: 1 !important;
    font-size: 14px!important;
    border: 2px solid #f8434b !important;
    margin-top: 29px!important;
	margin-left: 6px;
	font-family: montserratregular;
}
/* .sticky .signUp-style a  {
    margin-top: 20px!important;
} */

/* .sticky .login a  {
    padding: 8px 12px 8px 12px!important;
} */
/* .custom-navbar.navbar-default {

    border-bottom: none!important;
   
} */
input.lead-form-email::placeholder {
    color: 666!important;
    opacity: 0.5; 
}

.lead-form-email:-ms-input-placeholder { 
    color: #666;
}

.lead-form-email::-ms-input-placeholder { 
    color: #666;
}
.custom-navbar.navbar-default .navbar-nav > li > a.active, .custom-navbar.navbar-default .navbar-nav > li >a:hover {
    color: #fb5f66;
    background: none;
}
.custom-navbar.navbar-default .navbar-nav>li {
    -webkit-transition: .5s ease-in-out; 
 transition: .5s ease-in-out;
}
#sidebar-wrapper.active {
    right: 280px;
    width: 280px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}

#sidebar-wrapper {
    margin-right: -280px;
    right: 0;
    width: 280px;
    background: #fff;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    top: 0px;
}
.sidebar-nav {
    position: absolute;
    width: 280px;
    list-style: none;
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}
#sidebar-wrapper .toggle {
    border: none;
    background: none;
    position: absolute;
    z-index: 9;
    right: 15px;
    top: -20px;
    padding: 0;
}

.toggle {
    margin: 0;
}
.pull-right {
    float: right!important;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.sidebar-nav li {
    line-height: 55px;
    border-bottom: 1px solid #e6e9eb;
}

.billing-grey-bottom ul.billing-list li, .billing-grey2 ul.billing-list li, .billing-white-bottom ul.billing-list li, li, ul {
    list-style: none;
}
.sidebar-nav li a {
    color: #62696d;
    display: block;
    text-decoration: none;
    padding: 0 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: montserratregular;
}
.sidebar-nav li a i.material-icons {
    position: absolute;
    right: 0;
    top: 18px;
    font-size: 17px !important;
    color: #62696d;
}


#sidebar-wrapper .toggle i.material-icons {
    color: #62696d;
    font-size: 20px;
}
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 203px;
    box-shadow: 0px 30px 40px rgba(0,0,0,0.10);
    z-index: 1;
    left: 10px;
    /* top: 60px; */
}
.sidebar-nav li {
    line-height: 55px;
    border-bottom: 1px solid #e6e9eb;
}
.dropdown-content a:last-child {
    border-bottom: none;
    margin-bottom: 8px;
}
.sidebar-nav li a {
    color: #62696d;
    display: block;
    text-decoration: none;
    padding: 0 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: montserratregular;
}
.dropdown-content a {
    color: #62686c;
    padding: 0px 5px;
    margin: 0px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-family: montserratlight;
    line-height: 46px;
    border-bottom: 1px solid rgba(215,215,215,0.5);
}
.dropdown .dropdown-sub-content {
    display: none;
    position: absolute;
    right: -179px;
    top: 50px;
    background: #fff;
    background-color: #fff;
    /* min-width: 158px; */
    box-shadow: 0px 30px 40px rgba(0,0,0,0.10);
    z-index: 1;
    font-size: 12px;
}
.dropdown.open .drop-sub-menu .dropdown-sub-content {
    display: block;
}

.dropdown .dropdown-sub-content a {
    font-size: 13px;
    border-bottom: 1px solid rgba(215,215,215,0.5);
}

.dropdown-content a:last-child {
    border-bottom: none;
    margin-bottom: 8px;
}
.res-nav-hide {
    display: block!important;
}
.res-nav-show {
    display: none;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

/* .custom-navbar .signUp a {
    border-radius: 20px;
    background: #fb5f66 !important;
    color: #fff!important;
    padding: 5px 10px !important;
    line-height: 1 !important;
    font-size: 13px!important;
    border: 2px solid #f8434b !important;
    margin-top: 20px!important;
    margin-right: 15px;
    margin-left: 6px;
    font-family: montserratregular;
} */
.custom-navbar a.link-login {
    font-size: 14px;
    font-family: montserratregular;
}
.navbar-fixed-top
{
    top: 0;
    border-width: 0 0 1px;
}
li.dashboard a:hover {
    background: #fdb6b9 !important;
    color: #fff !important;
    border: 2px solid transparent !important;
    opacity: 1 !important;
}
.dash{
    color:#fff!important;
}
.navbar-fixed-bottom, .navbar-fixed-top
{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 0px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-default .navbar-brand {
    color: #777;
}

.navbar-brand {
    padding: 0!important;
    margin-left: 30px!important;
    padding-top: 21px!important;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand>img {
    display: block;
    width: 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .pre-scrollable {
    max-height: 340px;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.navbar-nav {
    margin: 7.5px -15px;
}
.custom-navbar.navbar-default .navbar-nav>li {
    margin-right: 0px;
   
}
.custom-navbar.navbar-default .navbar-nav>li {
    margin-right: 20px;
}
.custom-navbar.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    color: #62696d;
    text-transform: uppercase;
    background: none;
    overflow: visible;
    /* width: 100%; */
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #777;
}

/* .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
} */
.nav>li>a {
    padding: 10px 15px;
}
.hvr-underline-from-left {
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    /* overflow: hidden; */
}

.hvr-underline-from-center, .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.custom-navbar.navbar-default .navbar-nav>li {
    margin-right: 20px;
}

.custom-navbar .link-login {
    color: #fb6c73!important;
    font-family: montserratbold;
}
li.nav-lead-input {
    margin-top: 22px;
    position: relative;
    width: 317px!important;
    margin-right: 5px !important;
    line-height: 22px;
}
.custom-navbar.navbar-default .navbar-nav>li input.lead-form-email {
    border: 1px solid #ebebeb;
    border-radius: 20px;
    font-size: 14px;
    padding: 0 15px;
    height: 30px;
    color: #62696d;
    outline: none;
}
.nav-lead-input .lead-form-btn {
    position: absolute !important;
    right: 0;
    top: 0;
}
.nav-lead-input a.lead-email.btn-buildcal {
    background: #fb5f66;
    color: #fff;
    font-size: 14px;
    padding: 4px 20px;
    border: 2px solid #fb5f66;
    transition: .5s ease-in-out;
    line-height: normal;
    box-shadow: none;
    border-radius: 25px;
    display: inline-block;
    float: none;
    font-family: montserratbold;
    text-transform: uppercase;
    margin-left: 3px;
}
.custom-navbar .link-login:hover {
    background: 0 0;
    color: #fb5f66 !important;
    opacity: .5;
}
.btn-hover:hover, .btn-hover:focus {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    background: #fdb6b9 !important;
    color: #fb545b !important;
    border-color: #fdb6b9 !important;
}

@media (min-width: 768px)
{
.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    border-radius: 0;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}
.navbar-header {
    float:none;
}
}



@media (max-width: 768px) and (min-width: 320px)
{
    .navbar-nav > li > a.active.hvr-underline-from-left:before {
        right: 0px;
        left: 0px;
        background: none;
        height: 0px;
    }
    .hvr-underline-from-left:before {
        position:unset!important;
        left: 0;
        right: 0!important;
        bottom: 0;
        
    }
    .res-nav-show {
        display: block!important;
    }
    .custom-navbar.navbar-default {
        border-bottom: 1px solid #f3f8fb;
    }
    .res-nav-hide{
        display: none!important;
    }
    .navbar-brand {
        margin-left: 25px!important;
        padding-top: 10px;
    }
    .custom-navbar.navbar-default, .section-1 {
        margin-bottom: 0px;
    }
    .custom-navbar.navbar-fixed-top {
        position: relative;
    }
    .custom-navbar .signUp a,.dashboard a {
        display: inline-block;
        margin-top: 0px;
    }
    .dropdown .dropdown-content a i.material-icons {
        line-height: 26px !important;
        transform: rotate(90deg);
    }
.dropdown .dropdown-content {
    min-width: 100% !important;
    left: 0 !important;
    background: none;
    position: relative !important;
    box-shadow: none !important;
}

.dropdown .dropdown-sub-content {
    min-width: 100% !important;
    left: 0px !important;
    background: none;
    position: relative !important;
    box-shadow: none !important;
    top: 0px !important;
    padding: 0px 20px !important;
}
.dropdown-content a {
    font-size: 11px !important;
    text-transform: uppercase;
    line-height: normal !important;
    padding: 7px 12px !important;
}
.navbar-nav>li {
    /* float: left; */
    width: 100%;
}
}

@media (max-width: 990px) and (min-width: 769px)
{
.custom-navbar.navbar-default, .section-1 {
    margin-bottom: 0;
}
.custom-navbar.navbar-fixed-top {
    position: relative;
}
.navbar-brand {
    margin-left: 15px!important;
}
.custom-navbar.navbar-default .navbar-nav>li {
    margin-left: 0;
    margin-right: 1px;
}
.custom-navbar.navbar-default .navbar-nav>li>a {
    font-size: 12px;
    color: #62696d;
    text-transform: uppercase;
    display: inline-block!important;
}
.hvr-underline-from-left:before {
    position:unset!important;
    left: 0;
    right: 0!important;
    bottom: 0;
    
}
}
@media (max-width: 1023px) and (min-width: 769px)
{
    .custom-navbar.navbar-default .navbar-nav>li {
      float: left;
      width: 100%;
    }
}

@media (max-width: 380px) and (min-width: 320px)
{
li.nav-lead-input {
    width: auto!important;
    /* width: 300px!important; */
}
}
@media only screen and (max-width: 380px)
{
.nav-lead-input a.lead-email.btn-buildcal {
    background: #fb5f66;
    color: #fff;
    font-size: 14px;
    padding: 4px 20px;
    border: 2px solid #fb5f66;
    transition: .5s ease-in-out;
    line-height: normal;
    box-shadow: none;
    border-radius: 25px;
    display: inline-block;
    float: none;
    font-family: montserratbold;
    text-transform: uppercase;
    margin-left: 3px;
}
}
@media (max-width: 1023px) and (min-width: 320px)
{

    /* .custom-navbar.navbar-default .navbar-nav>li {
        margin-right: 0px;
        float: left;
        width:100%;
    } */
    .collapse {
        display: none!important;
    }
    .navbar-toggle {
        display: block!important;
    }
    li.signUp.signUp-style a.link-login, .dashboard a.link-login {
        margin: 0px !important;
        font-size: 14px !important;
        padding: 6px 13px !important;
        border: 2px solid #f8434b !important;
    }
    .custom-navbar a.link-login {
        border-bottom: none;
    }
    li.signUp.signUp-style ,.dashboard{
        margin: 0px !important;
        line-height: normal;
        border-bottom: none;
    }
    .drop-sub-menu i.material-icons {
        transform: none !important;
        top: 37px !important;
        color: #62696d !important;
    }
    
   
    .drop-sub-menu i {
        opacity: 0.5;
    }
    .drop-sub-menu .dropdown-sub-content li {
        list-style-type: circle;
        font-size: 16px;
        color: #000;
        opacity: 1;
    }
    li.dropdown.open a {
        border-bottom: none !important;
    }
    .drop-sub-menu .dropdown-sub-content a {
        border-bottom: none;
        padding: 7px 0px !important;
        opacity: 0.6;
    }
    .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-sub-content {
        display: block;
    }
    .dropdown .dropdown-sub-content {
        padding: 0px 20px !important;
    }
.dropdown .dropdown-content {
    padding-bottom: 20px;
    top: 0;
    padding-left: 20px;
}
li.dropdown.open a {
    border-bottom: none !important;
}
.dropdown-content a {
    font-size: 13px !important;
    text-transform: uppercase;
    line-height: 18px!important;
    padding: 7px 0px !important;
    margin: 0 !important;
    text-transform: none !important;
    color: #666;
    opacity: 0.8;
    border-bottom: none !important;
    font-family: montserratlight !important;
}

.sidebar-nav li.dropdown.open .dropdown-content {
    display: block;
}
.dropdown-content li {
    list-style-type: disc;
    line-height: 18px;
    font-family: montserratlight;
    border-bottom: none;
    font-size: 16px;
    color: #666;
    opacity: 1;
}
.navbar-nav > li > a {
    line-height: 25px!important;
}
}
@media (max-width: 1023px)
{
    .custom-navbar.navbar-default .navbar-nav>li>a {
        padding: 7px 10px;
        
    }
    .navbar-brand {
        
        padding-top: 10px!important;
    }

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fb5f66 !important;
}
.custom-navbar.navbar-default .container-fluid {
    padding: 0;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fb5f66 !important;
}
.navbar-right {
    float: left !important;
    width: 100%;
    margin: 7.5px 0px !important;
    
}

.custom-navbar .signUp-style a ,.dashboard a {
    background: none;
    color: #fff!important;
    border: none !important;
    display: inline-block;
}
.custom-navbar.navbar-default .navbar-nav>li input.lead-form-email {
    width: 100%;
}
li.nav-lead-input {
    margin: 10px !important;
}
.dashboard a {
    margin: 5px 0px 10px 10px!important;
    display: inline-block !important;
}
.custom-navbar.navbar-default .navbar-nav>li>a {
    font-size: 12px !important;
    line-height: 18px!important;
}
.custom-navbar.navbar-default .navbar-nav>li.dashboard>a {
   font-weight: 800;
   font-size: 12px !important;
   line-height: normal!important;
}
}
@media (max-width: 1023px) and (min-width: 991px)
{
.custom-navbar.navbar-default .navbar-nav>li>a {
    font-size: 12px;
    color: #62696d;
    text-transform: uppercase;
}
.custom-navbar.navbar-default .navbar-nav>li {
    margin-right: 0px;
}
.custom-navbar .signUp-style a ,.dashboard a{
    margin-top: 0px;
}
}
@media (min-width: 1024px) and (max-width:148)
{
 div#bs-example-navbar-collapse-1{
height:65px!important;
}
.sticky div#bs-example-navbar-collapse-1 {
    height: 0 !important;
}
li.nav-lead-input {
    margin-top: 17px;
}
}

@media (min-width: 1481px)
{
div#bs-example-navbar-collapse-1 {
    height: 76px !important;
}
.sticky div#bs-example-navbar-collapse-1 {
    height: 0 !important;
}
}
@media (min-width: 1024px)
{
   
    .navbar-right {
        float: right!important;
    }
    
.navbar-header {
    float: left;
}
.navbar-toggle {
    display: none;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-collapse.collapse {
    display: block;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
}
.sticky .navbar-brand {
    padding-top: 12px!important;
}
.navbar-nav>li {
    float: left;
}
}
@media (max-width: 1250px) and (min-width: 1024px)
{

   .sticky.custom-navbar .signUp a ,.dashboard a{
        
        margin-top: 14px!important;
    }
 
    /* .custom-navbar.navbar-default .navbar-nav>li>a {
        font-size: 13px;
        padding-left: 12px;
        padding-right: 12px;
    } */
.container-fluid>.navbar-header {
    margin-left: -30px;
}
.navbar-right {
    margin-left: 20px;
}
.custom-navbar.navbar-default .navbar-nav>li {
    margin-right: 0;
}

/* .sticky .navbar-brand {
    padding-top: 12px!important;
} */
}
@media (max-width: 1280px) and (min-width: 1024px)
{
    .nav-lead-input a.lead-email.btn-buildcal {
        font-size: 12px;
        padding: 5px 10px;
        line-height: 16px;
    }
    .custom-navbar.navbar-default .navbar-nav>li input.lead-form-email {
        font-size: 12px;
    }
    li.nav-lead-input {
        width: 237px!important;
        margin-right: 0px !important;
    }
    .custom-navbar.navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }
    .sticky li.nav-lead-input {
        margin-top: 12px!important;
    }
    li.nav-lead-input {
        margin-top: 17px!important;
    }

}
@media (min-width: 1250px) and (max-width:1480px){

   
    .custom-navbar .signUp a ,.dashboard a{
        
        margin-top: 18px!important;
    }
    .sticky.custom-navbar .signUp a ,.sticky.custom-navbar .dashboard a {
        margin-top: 12px!important;
    }
}
@media (max-width: 2999px) and (min-width: 1480px)
{
.custom-navbar.navbar-default {
    padding: 25px 0px;
}
.navbar-nav>li>a {
    line-height: 45px;
}
.sticky .navbar-nav>li>a {
    line-height: 25px;
}
/* .custom-navbar .signUp a {
    margin-top: 22px!important;
} */
.sticky.custom-navbar .signUp a ,.sticky.custom-navbar .dashboard a {
    margin-top: 12px!important;
}
.sticky .navbar-brand {
    padding-top: 12px!important;
}
.custom-navbar .signUp a,.dashboard a {
    margin-top: 21px!important;
}
}
@media   (min-width: 1024px) and (max-width: 1480px)
{
    .navbar-brand {
        
        padding-top: 17px!important;
    }
}


@media   (min-width: 1025px) and (max-width: 1480px)
{
    div#bs-example-navbar-collapse-1 {
        height: 66px!important;
    }
    .sticky div#bs-example-navbar-collapse-1 {
        height: 0 !important;
    }
    li.nav-lead-input{
        margin-top: 18px;
    }
    /* .sticky a.params.hvr-underline-from-left {
        padding: 13px 12px 13px 12px!important;
    }
    .sticky .login a  {
        padding: 14px 12px 12px 12px!important;
    }
    
.sticky .signUp.signUp-style {
    margin-top: -2px;
    
}
.sticky .custom-navbar.navbar-default .navbar-nav>li {
    margin-right: 25px;
} */
}
@media  (min-width: 1480px){
/* .sticky a.params.hvr-underline-from-left {
    padding: 8px 13px 7px 13px!important;
}

.sticky .login a  {
    padding: 9px 13px 8px 13px!important;
}

.sticky .signUp.signUp-style {
    margin-top: -7px;
    
}
.sticky .custom-navbar.navbar-default .navbar-nav>li {
    margin-right: 25px;
} */
}
@media (max-width: 1800px) and (min-width: 1480px)
{
 
    .custom-navbar .signUp-style a {
        padding: 10px 14px;
        /* top: -5px; */
        font-size: 16px !important;
    }
.custom-navbar.navbar-default {
    padding-top: 25px;
    padding-bottom: 25px;
}
.custom-navbar.navbar-default .navbar-nav>li>a, .section-1-left .btn-bottominfo label, .section-1-left .btn-bottominfo span {
    font-size: 16px!important;
}
}

@media (min-width: 1800px)
{
    .section-1-left .btn-bottominfo label, .section-1-left .btn-bottominfo span {
        font-size: 16px;
    }
    .custom-navbar .signUp-style a,.dashboard a {
        padding: 10px 14px;
        /* top: -5px; */
        font-size: 16px !important;
    }
}

.hvr-underline-from-left:before {
    left: 5px !important;
}
.hvr-underline-from-center:before, .hvr-underline-from-left:before {
    content: "";
    z-index: -1;
    background: #fb5f66 !important;
    height: 2px !important;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    /* top: 58px; */
}
.hvr-underline-from-left:before {
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:before, .hvr-underline-from-left:before {
    content: "";
    z-index: -1;
    background: #2098d1;
    height: 4px;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
}
.custom-navbar.navbar-default .navbar-nav>li>a.active, .custom-navbar.navbar-default .navbar-nav>li>a:hover {
    color: #fb5f66;
    background: none;
    outline: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}
.hvr-underline-from-left:active:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:hover:before {
    right: 5px !important;
    left: 5px;
}

.hvr-underline-from-left:active:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:hover:before {
    right: 5px;
    left: 5px;
    /* top: 58px; */
    background: #fb5f66;
    height: 2px;
}
.hvr-underline-from-left:active:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:hover:before {
    right: 0;
}
.lead-form-btn:hover{
    cursor: pointer;
}