
    <nav class="navbar custom-navbar navbar-default navbar-fixed-top header1" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" id="toogle-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="params navbar-brand home" routerLink="" (click)="setTitle0()">
                    <img rel="noshare" src="https://dzvexx2x036l1.cloudfront.net/logo.png" alt="logo" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="navlist" style="font-family: montserratregular">
                    <li>
                        <a routerLink="why-interactive"  (click)="fadeOut()" class="params hvr-underline-from-left interactive">Why Interactive Content ?</a>
                    </li>
                    <li>
                        <a routerLink="features"  (click)="fadeOut()"  class="params hvr-underline-from-left features">Features</a>
                    </li>
                    <li>
                        <a routerLink="pricing"  (click)="fadeOut()" class="params hvr-underline-from-left pricing">Pricing</a>
                    </li>
                    <!-- <li>
                        <a routerLink="examples"  (click)="fadeOut()" class="params hvr-underline-from-left examples">Examples</a>
                    </li> -->
                    <li class="dropdown" id="getInspired">
                        <a href="javascript:void(0);" id="nav-get-inspired" onclick="callGA('USECASE')" class="params hvr-underline-from-left">Get Inspired <i class="material-icons">arrow_drop_down</i></a>
                        <div class="dropdown-content">
                            <a href="{{ $page->baseUrl }}/examples" onclick="callGA('USECASE')" class="params" id="nav-examples">Interactive Examples </a>
                            <div class="drop-sub-menu">
                                <a href="javascript:void(0);" onclick="callGA('USECASES')" class="params" id="nav-use-cases">Use Cases <i class="material-icons">chevron_right</i></a>
                                <div class="dropdown-sub-content">
                                    <a href="{{ $page->baseUrl }}/calculator" class="nav-use-cases-list">Calculators</a>
                                    <a href="{{ $page->baseUrl }}/quiz" class="nav-use-cases-list">Quizzes </a>
                                    <a href="{{ $page->baseUrl }}/survey" class="nav-use-cases-list">Surveys</a>
                                    <a href="{{ $page->baseUrl }}/chatbots" class="nav-use-cases-list">Chatbots</a>
                                    <a href="{{ $page->baseUrl }}/increase-conversions" class="nav-use-cases-list">Increase Conversions</a>
                                    <a href="{{ $page->baseUrl }}/increase-roi" class="nav-use-cases-list">Increase ROI</a>
                                    <a href="{{ $page->baseUrl }}/increase-sales" class="nav-use-cases-list">Increase Sales</a>
                                </div>
                            </div>
                            <div class="drop-sub-menu drop-sub-menu-stories">
                                <a href="javascript:void(0);" onclick="callGA('CASESTUDIES')" class="params" id="nav-case-studies">Success Stories <i class="material-icons">chevron_right</i></a>
                                <div class="dropdown-sub-content">
                                    <a href="/case-studies#tag" class="params nav-case nav-link-tag">TAG </a>
                                    <a href="/case-studies#getPaid" class="params nav-case nav-link-gpyp">Get Paid for Your Pad </a>
                                    <a href="/case-studies#vp" class="params nav-case nav-link-vp">VenturePact </a>
                                    <a href="/case-studies#macroscape" class="params nav-case nav-link-macro">Macroscape </a>
                                    <a href="/case-studies#wingman" class="params nav-case nav-link-wingman">Professional Wingman </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="dashboard hide " >
                       
                        <a href="//app.outgrow.co/login" class=" params" onclick="">Dashboard</a>
                    </li>

                    <li class="login">
                        <a href="//app.outgrow.co/login" class="link-login params " >Login</a>
                    </li>
                    <!-- <li class="signUp signUp-style res-nav-hide">
                        <a href="//app.outgrow.co/signup" class="link-login params">Sign up</a>
                    </li>
                    <li class="signUp res-nav-show">
                        <a href="//app.outgrow.co/signup" class="link-login params" onclick="callGA('SIGNUP HEADER')">Sign Up</a>
                    </li>
                     -->

                     <li class="nav-lead-input">
                        <input class="lead-form-email" name="emailId" type="email" placeholder="Enter your email" #emailId>
                        <span class="lead-form-btn">
                            <!-- <a href="//app.outgrow.co/signup/?email=" class="lead-email btn-buildcal btn-hover" onclick="callGA('CANNOT WAIT CTA'); "> -->
                                <a  class="lead-email btn-buildcal" (click)="putEmailId(emailId.value)"> 
                                Get Started
                            </a>
                        </span>
                    </li>
                     
                </ul>
            </div>
        </div>
    </nav>


