<div class="main-outr">
    <section [ngStyle]="{display:stateName_sec1=='hide'?'none':'table'}" class="sec-outr sec1-bg mouse-bg" [@popOverState1]="stateName_sec1">
        <div class="sec" >
            <div class="logo">
                <a href="javascript:void(0);">
                    <!-- <img src="images/logo.png" alt="logo" /> -->
                </a>
            </div>
            <div class="sec-container">
                <div class="sec1-text">
                    <h1 id="background" class="mouse-bg">
                        Generate Ideas
                        <br> for
                        <span> Quiz</span> or
                        <span>Calculator.</span>
                    </h1>
                </div>
                <a class="sec1-button" href="javascript:void(0);" (click)="getStarted();">Get Started</a>
            </div>
        </div>
    </section>
    <section [ngStyle]="{display:stateName_sec2=='hide'?'none':'table'}" class="sec-outr sec2-bg" >
        <div *ngIf="loading" id="premade-loader" class="preloader">
            <div class="status">&nbsp;</div>
        </div>
        <div *ngIf="!loading" class="sec abc-2"  [@popOverState2]="stateName_sec2">
            <div class="sec-container">
                <div class="sec2-step">
                    <span><sup>1</sup>/<sub>3</sub></span>
                </div>
                <div class="sec2-text">
                    Which category
                    <br> does your company
                    <br> fall into?
                </div>
                <div class="sec-catergory">
                    <select class="demo-default selectize-category">
                        <!-- <option [ngValue]="null" selected>Choose Category</option>
                        <option *ngFor="let category of categories">{{ category }}</option> -->
                    </select>
                </div>
            </div>
        </div>
    </section>
    <section [ngStyle]="{display:stateName_sec3=='hide'?'none':'table'}" class="sec-outr sec3-bg" >
        <div class="sec" [@popOverState3]="stateName_sec3">
            <div class="sec-container" >
                <div class="sec2-step">
                    <span><sup>2</sup>/<sub>3</sub></span>
                </div>
                <div class="sec2-text">
                    Select
                    <br> Sub-Category
                </div>
                <div class="sec-catergory">
                    <select class="demo-default selectize-sub-category">
                        <!-- <option [ngValue]="null" selected>Choose Sub Category</option>
                        <option *ngFor="let subCategory of subCategories">{{ subCategory }}</option> -->
                    </select>
                </div>
            </div>
        </div>
    </section>
    <section [ngStyle]="{display:stateName_sec4=='hide'?'none':'table'}" class="sec-outr sec4-bg" [@popOverState4]="stateName_sec4">
        <div class="sec">
            <div class="sec-container">
                <div class="sec2-step">
                    <span><sup>3</sup>/<sub>3</sub></span>
                </div>
                <div class="sec2-text">
                    Your Email
                </div>
                <div class="sec-catergory">
                    <input type="email" class="sec-input" id="form-email" placeholder="johnwatson@sh.com" [(ngModel)]="emailField" required/>
                    <span *ngIf="emailError" class="alert alert-danger email-validator">
                        <i class="material-icons">error_outline</i> Please enter valid email
                    </span>
                </div>
                <div class="butn-outr">
                    <button type="submit" class="sec-button button-ideas" (click)="showIdeas()">Show me my ideas!</button>
                </div>
            </div>
        </div>
    </section>


    <section [ngStyle]="{display:stateName_secnew=='hide'?'none':'table'}" class="sec-outr new-sec-bg mouse-bg" [@popOverState5]="stateName_secnew">
        <div class="sec">
            <!--<div class="logo">
            <a href="/">
                <img src="//dzvexx2x036l1.cloudfront.net/logo1.png" alt="logo" />
            </a>
        </div>-->
            <div class="sec-container custom-conatiner">
                <div class="sec1-text">
                    <h2>Here you go!</h2>
                </div>
                <div class="update-section">

                    <div class="sec-catergory  custom-select">
                        <select class="demo-default selectize-category-result">
                            <!-- <option [ngValue]="null" selected>Choose Category</option>
                            <option *ngFor="let category of categories" [selected]="selectedOption.category===category">{{ category }}</option> -->
                        </select>
                        <!-- <span *ngIf="categoryError" class="error update-cat-error" style="display:block">Please Choose a Category</span> -->
                    </div>
                    <div class="sec-catergory  custom-select">
                        <select class="demo-default selectize-sub-category-result">
                            <!-- <option [ngValue]="null" selected>Choose Sub Category</option>
                            <option *ngFor="let subCategory of subCategories" [selected]="selectedOption.subCategory===subCategory">{{ subCategory }}</option> -->
                        </select>
                        <span *ngIf="subCategoryError" class="error update-cat-error" style="display:block">Please choose a sub category</span>

                    </div>
                    <div class="update-btn" style="float: none; display: inline-block">
                        <a href="javascript:void(0)">update</a>
                    </div>
                </div>

                <div class="funnel-points">
                    <div class="funnel-step top">
                        <figure class="icons-part"> </figure>
                        <figcaption>

                            <h4>TOP OF THE FUNNEL
                                <span class="info-content" data-content="Your goal with Top Of The Funnel content should be to educate your audience on a specific question, need or pain point that they're looking to address, but without a sales tie-in. ">
                                    <i class="material-icons">info_outline</i>
                                </span>
                            </h4>
                            <ul id="top-funnel">
                                <li *ngFor="let funnelItem of topFunnel">
                                    <a href="javascript:void(0);">{{ funnelItem }}</a>
                                </li>
                            </ul>
                        </figcaption>
                    </div>
                    <div class="funnel-step middle">
                        <figure class="icons-part"> </figure>
                        <figcaption>
                            <h4>Middle OF THE FUNNEL
                                <span class="info-content" data-content="In the Middle Of The Funnel stage, your content should continue to educate but also start the process of positioning your company as the solution to the lead's needs and challenges.">
                                    <i class="material-icons">info_outline</i>
                                </span>
                            </h4>
                            <ul id="mid-funnel">
                                <li *ngFor="let funnelItem of middleFunnel">
                                    <a href="javascript:void(0);">{{funnelItem}}</a>
                                </li>
                            </ul>
                        </figcaption>
                    </div>
                    <div class="funnel-step bottom">
                        <figure class="icons-part"> </figure>
                        <figcaption>
                            <h4>Bottom OF THE FUNNEL
                                <span class="info-content" data-content="Now that the prospect has been engaged and informed about your product or service, in this stage, you can try and position your company/product as the preferred choice for your client.">
                                    <i class="material-icons">info_outline</i>
                                </span>
                            </h4>
                            <ul id="bottom-funnel">
                                <li *ngFor="let funnelItem of bottomFunnel">
                                    <a href="javascript:void(0);">{{funnelItem}}</a>
                                </li>
                            </ul>
                        </figcaption>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>