
.section-1 {
    margin-bottom: 70px;
    padding-bottom: 30px;
    /* background: url(../images/watermark-logo.png) 0 10% no-repeat; */
}
.section {
    margin-bottom: 30px;
}
.section, .section-1 {
    margin-top: 30px;
    float: left;
    width: 100%;
}
.section-1-left {
    padding-left: 55px;
    display: table;
}
.section-1-left h3.heading-404 {
    float: left;
    width: 100%;
    font-size: 72px;
    font-family: montserratsemibold;
    color: #fb6c73;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}

.section-1-left h3 {
    font-family: montserratbold;
}
.section-1-left h3, .section-1-left h4 {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.section-1-left h3, .section-1-left h3.section1-firsthead {
    font-size: 28px;
    color: #fb6c73;
    text-transform: uppercase;
    margin-top: 0;
}
.mk-animate-element {
    opacity: 1;
    -webkit-perspective: 1000;
}
.mk-animate-element, .mk-effect-bg-layer, .mk-fullscreen-search-overlay {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.section-1 .container-fluid {
    padding: 0;
}
.section-1-left h4.heading2-404 {
    float: left;
    width: 100%;
    font-size: 18px;
    font-family: montserratlight;
    color: #62696d;
    margin-bottom: 30px;
    line-height: 25px;
}

.section-1-left h4 {
    font-size: 24px;
    font-family: montserratlight;
    color: #62696d;
    margin-top: 70px;
}
.section-1-left input {
    padding: 10px;
    width: 70%;
}
.np {
    padding: 0;
}
.section-1 .btn-buildcal.login-404 {
    background: #62696d;
    color: #fff;
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid #62696d;
    padding: 15px 25px;
    margin-top: 20px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.sec1-box-left.img-404 {
    margin-top: 18%;
}






@media (max-width: 1920px) and (min-width: 1440px)
{
.section-1 {
    margin-top: 70px;
}
.section1-left-cell {
    height: 61vh;
}
}

@media (max-width: 1800px) and (min-width: 1480px)
{
.section-1-left h3, .section-1-left h3.section1-firsthead {
    font-size: 40px;
    line-height: 50px;
}
.section-1-left h4 {
    font-size: 30px;
    line-height: 40px;
}
.section-1-left .btn-buildcal {
    font-size: 18px;
}
}