/* intercom page  */
.intercom{
    padding-bottom:70px;
    background: #f3f8fb;
    margin-top: 75px !important;
    margin-bottom:0px!important;
}
.chatbot-heading{
 float: left;
 width: 100%;
 font-family: montserratregular;
 margin-bottom: 0;
 padding-right: 0px;
 text-transform: none;
 color: #fb5f66 !important;
 font-size: 38px !important;
 line-height: 48px;
 margin-top: 80px;
}
.inter1{
 margin-bottom: 70px;
}
.intercom-chatbot{
 font-family: montserratsemibold;
}
.section-whyMerticsAwesome .bot-head{
 font-family: montserratultra_light!important;
 color: #fb5f66 !important;
 margin: 0px!important;
 font-size: 42px!important;
 float: left;
 width: 100%;
 text-align: center;
 line-height: 52px;
 text-transform: none;
 margin-bottom: 40px!important;
 padding-bottom: 40px;
}
.intercom-para{
 margin: 0;
 padding-left: 5px;
 max-width: 530px;
 font-size: 14px;
color: #626a6d;
font-family: montserratlight;
line-height: 22px;
margin-bottom: 25px;
list-style: none;
float: left;
}
.bot-heading{
  float:left;
}
  .inter-bot{
     margin: 0 auto;
     width: 100%;
     float: left;
 }
 .interbot-content{
 margin: 0 auto;
 position: relative;
 max-width: 572px;
 }
 .chatbot-readingsec-row {
     float: left;
     width: 100%;
    
 }
 .chatbot-img {
     height:214px;
 }
 .chatbot-img img{
     height:100%;
     float:left;
 }
 .chatbot-readingsec-row .reading-content p{
     min-height:0!important;
     display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;

}
.chatbot-readingsec-row:first-child{
margin-top:15px;
margin-bottom: 40px;
}
.intercom-chat .chatbot-red{
 color: #fb5f66!important;
 font-family: montserratultra_light;
 font-size:42px;
}
.sec-chatbot{
   margin-bottom:0!important;
   margin-top:0!important;
}
.sec-chatbot.section-premade-temp{
    background: #fff!important;
}
.sec-chatbot.section-whyMerticsAwesome,.sec-chatbot.section-reviews{
   background: #f3f8fb!important;
}
.sec-chatbot .bot-head{
        padding-bottom: 0px!important;
 margin-top: 60px!important;
}
.sec-chatbot .whyMerticsAwesome-inner-row:last-child {
 margin-bottom: 70px;
}
.sec-chatbot.ns{
margin-top:0!important;
background:#fff!important;
}
.sec-chatbot.sec-clients-logos{
  background:#fff!important;
}
.inter1 h1{
 margin-top: 55px!important;
 font-family: montserratultra_light;
}
.sec-chatbot .intercom-chat {
 padding-top: 40px;
}
.sec-chatbot.intercom:last-child{
 padding-bottom:130px!important;
}
.inter3{
 padding-bottom:130px!important;
}
.chatbots-image-section {
 float: left;
 width: 100%;
 text-align: center;
 margin-bottom: 70px;
}
.bot-head{
 font-family: montserratbold!important;  
}
.sec-w-img {
    width: 800px;
    min-height: 400px;
    margin: 50px auto 130px auto;
    position: relative;
}
.sec-w-img img.first {
    top: 37%;
    left: 16%;
    position: absolute;
    width: 75%;
}
.sec-w-img .img-outer {
    top: 90px;
    left: 0%;
    position: absolute;
    width: 50%;
}
.shadow {
    width: 80px;
    height: 30px;
    margin: auto;
    margin-top: -40%;
    background: #000;
    opacity: .25;
    display: block;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-filter: blur(17px);
    filter: blur(17px);
    -webkit-animation: shadow .5s infinite alternate;
    animation: shadow .5s infinite alternate;
}
.startTrial-outer i.material-icons {
    position: absolute;
    left: 23px;
    top: 12px;
    font-size: 18px;
    color: #fb5f66;
    top: 14px;
}
.startTrial-outer input {
    background: #fff;
    border: 1px solid #b4b4b4;
    border-radius: 25px;
    min-height: 46px;
    margin: 0;
    width: 100%;
    float: none;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.08);
    padding-left: 50px;
    padding-right: 20px;
    color: #858f94;
    font-family: montserratlight;
}
.lead-form-btn {
    position: absolute;
    right: 1px;
    top: 0px;
}
.startTrial-outer .btn-buildcal {
    background: #fb5f66;
    color: #fff;
    font-size: 12px !important;
    padding: 13px 28px !important;
    border: 2px solid #fb5f66;
    transition: .5s ease-in-out;
    line-height: normal;
    box-shadow: none;
    margin-top: 0px;
    border-radius: 25px;
    display: inline-block;
    float: none;
    font-family: montserratlight;
    text-transform: uppercase;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.08);
    margin-left: 3px;
}
.sec-chatbot.section-premade-temp {
    background: #fff!important;
}