/* intercom page  */
.intercom{
    padding-bottom:70px;
    background: #f3f8fb;
    margin-top: 75px !important;
    margin-bottom:0px!important;
}
.chatbot-heading{
 float: left;
 width: 100%;
 font-family: montserratregular;
 margin-bottom: 0;
 padding-right: 0px;
 text-transform: none;
 color: #fb5f66 !important;
 font-size: 38px !important;
 line-height: 48px;
 margin-top: 80px;
}
.inter1{
 margin-bottom: 70px;
}
.intercom-chatbot{
 font-family: montserratsemibold;
}
.section-whyMerticsAwesome .bot-head{
 font-family: montserratultra_light!important;
 color: #fb5f66 !important;
 margin: 0px!important;
 font-size: 42px!important;
 float: left;
 width: 100%;
 text-align: center;
 line-height: 52px;
 text-transform: none;
 margin-bottom: 40px!important;
 padding-bottom: 40px;
}
.intercom-para{
 margin: 0;
 padding-left: 5px;
 max-width: 530px;
 font-size: 14px;
color: #626a6d;
font-family: montserratlight;
line-height: 22px;
margin-bottom: 25px;
list-style: none;
float: left;
}
.bot-heading{
  float:left;
}
  .inter-bot{
     margin: 0 auto;
     width: 100%;
     float: left;
 }
 .interbot-content{
 margin: 0 auto;
 position: relative;
 max-width: 572px;
 }
 .chatbot-readingsec-row {
     float: left;
     width: 100%;
    
 }
 .chatbot-img {
     height:214px;
 }
 .chatbot-img img{
     height:100%;
     float:left;
 }
 .chatbot-readingsec-row .reading-content p{
     min-height:0!important;
     display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;

}
.chatbot-readingsec-row:first-child{
margin-top:15px;
margin-bottom: 40px;
}
.intercom-chat .chatbot-red{
 color: #fb5f66!important;
 font-family: montserratultra_light;
 font-size:42px;
}
.sec-chatbot{
   margin-bottom:0!important;
   margin-top:0!important;
}
.sec-chatbot.section-premade-temp{
    background: #fff!important;
}
.sec-chatbot.section-whyMerticsAwesome,.sec-chatbot.section-reviews{
   background: #f3f8fb!important;
}
.sec-chatbot .bot-head{
        padding-bottom: 0px!important;
 margin-top: 60px!important;
}
.sec-chatbot .whyMerticsAwesome-inner-row:last-child {
 margin-bottom: 70px;
}
.sec-chatbot.ns{
margin-top:0!important;
background:#fff!important;
}
.sec-chatbot.sec-clients-logos{
  background:#fff!important;
}
.inter1 h1{
 margin-top: 55px!important;
 font-family: montserratultra_light;
}
.sec-chatbot .intercom-chat {
 padding-top: 40px;
}
.sec-chatbot.intercom:last-child{
 padding-bottom:130px!important;
}
.inter3{
 padding-bottom:130px!important;
}
.chatbots-image-section {
 float: left;
 width: 100%;
 text-align: center;
 margin-bottom: 70px;
}
.bot-head{
 font-family: montserratbold!important;  
}
.sec-w-img {
    width: 800px;
    min-height: 400px;
    margin: 50px auto 130px auto;
    position: relative;
}
.sec-w-img img.first {
    top: 37%;
    left: 16%;
    position: absolute;
    width: 75%;
}
.sec-w-img .img-outer {
    top: 90px;
    left: 0%;
    position: absolute;
    width: 50%;
}
.shadow {
    width: 80px;
    height: 30px;
    margin: auto;
    margin-top: -40%;
    background: #000;
    opacity: .25;
    display: block;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-filter: blur(17px);
    filter: blur(17px);
    -webkit-animation: shadow .5s infinite alternate;
    animation: shadow .5s infinite alternate;
}
.startTrial-outer i.material-icons {
    position: absolute;
    left: 23px;
    top: 12px;
    font-size: 18px;
    color: #fb5f66;
    top: 14px;
}
.startTrial-outer input {
    background: #fff;
    border: 1px solid #b4b4b4;
    border-radius: 25px;
    min-height: 46px;
    margin: 0;
    width: 100%;
    float: none;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.08);
    padding-left: 50px;
    padding-right: 20px;
    color: #858f94;
    font-family: montserratlight;
}
.lead-form-btn {
    position: absolute;
    right: 1px;
    top: 0px;
}
.startTrial-outer .btn-buildcal {
    background: #fb5f66;
    color: #fff;
    font-size: 12px !important;
    padding: 13px 28px !important;
    border: 2px solid #fb5f66;
    transition: .5s ease-in-out;
    line-height: normal;
    box-shadow: none;
    margin-top: 0px;
    border-radius: 25px;
    display: inline-block;
    float: none;
    font-family: montserratlight;
    text-transform: uppercase;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.08);
    margin-left: 3px;
}
.sec-chatbot.section-premade-temp {
    background: #fff!important;
}
.section-premade-temp {
    float: left;
    width: 100%;
    background: #fff;
    padding-top: 70px;
    margin-bottom: 0px;
}
.section-heading {
    font-size: 42px;
    color: #fb5f66;
    font-family: montserratultra_light;
    line-height: normal;
    margin-bottom: 25px;
    /* text-transform: capitalize; */
    max-width: 1140px;
    margin: 0 auto 25px;
}
.sec-chatbot .bot-head {
    padding-bottom: 0px!important;
    margin-top: 60px!important;
}
.section-whyMerticsAwesome .bot-head {
    font-family: montserratultra_light!important;
    color: #fb5f66 !important;
    margin: 0px!important;
    font-size: 42px!important;
    float: left;
    width: 100%;
    text-align: center;
    line-height: 52px;
    text-transform: none;
    margin-bottom: 40px!important;
    padding-bottom: 40px;
}
.whyMerticsAwesome-inner {
    margin-top: 30px;
}
.whyMerticsAwesome-inner-row {
    display: table;
    margin-bottom: 50px;
}
.whyMerticsAwesome-inner-left, .whyMerticsAwesome-inner-right {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.section-subheading.bot-heading {
    line-height: 32px;
}

.whyMerticsAwesome-inner-right .bot-heading {
    padding-left: 30px;
}
.section-subheading {
    color: #62696d;
    font-size: 24px;
    font-family: montserratlight;
    margin-bottom: 20px;
}
.bot-heading {
    float: left;
    width: 100%;
}
b, optgroup, strong {
    font-weight: 700;
}
.intercom-para-content {
    max-width: 530px;
}
.whyMerticsAwesome-inner-right .intercom-para {
    padding-left: 34px;
}
.rs-show {
    display: none!important;
}

.np {
    padding: 0;
}

.whyMerticsAwesome-inner-left .bot-heading {
    padding-right: 60px;
}
.whyMerticsAwesome-inner-left .intercom-para {
    padding-right: 24px;
}
.reading-block {
    float: left;
    width: 345px;
    background: #fff;
    border-radius: 7px;
    transition: .3s ease-in-out;
    margin-right: 45px;
}
.img-scaler {
    position: relative;
    overflow: hidden;
    width: auto;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 7px 7px 0px 0px;
}

.chatbot-img {
    height: 214px;
}
.chatbot-img img {
    height: 100%;
    float: left;
    width: 100%;
}
.reading-content {
    color: #62696d;
    font-family: montserratlight;
    padding: 30px 20px 30px 25px!important;
}
.reading-block:first-child h4 {
    padding-right: 20px;
}

.reading-content h4 {
    font-size: 16px;
    line-height: 24px;
}
.chatbot-readingsec-row .reading-content p {
    min-height: 0!important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.reading-content p {
    font-size: 14px;
    opacity: 0.7;
    padding-top: 10px;
    min-height: 130px;
    line-height: 24px;
}
.btn-readmore-link {
    color: #fb5f66;
    font-size: 13px;
    padding: 0;
    font-family: montserratlight;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-readmore-link i.material-icons {
    font-size: 15px;
    vertical-align: middle;
    margin-left: 0;
}
.reading-block:last-child {
    margin-right: 0px;
}
svg:not(:root) {
    overflow: hidden;
}
.ytp-large-play-button.ytp-button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    z-index: 63;
    border: none;
    background: none;
}
.img-scaler img {
    max-width: 100%;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.section-reading {
    float: left;
    width: 100%;
    background: #f3f8fb;
    padding-top: 70px;
    padding-bottom: 90px;
    margin-bottom: 0px;
}
.reading-block:hover {
    box-shadow: 0px 10px 40px rgba(73, 142, 182, 0.3);
}
.sec-chatbot.sec-clients-logos {
    background: #fff!important;
}

.sec-chatbot.sec-clients-logos {
    margin: 40px 0!important;
}
.sec-clients-logos .img-wrapper {
    padding: 35px 0px;
    float: none;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.img-wrapper img:nth-child(1) {
    float: left;
    margin-left: 15px;
}

.img-wrapper img {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 12px;
    width: 11%;
    filter: grayscale(1);
    opacity: 0.5;
}
.img-wrapper img:nth-child(2) {
    float: right;
    margin-right: 15px;
}
.img-wrapper img.abl {
    opacity: 1 !important;
}
.sec-chatbot.sec-clients-logos {
    margin: 40px 0!important;
}
.sec-chatbot.sec-clients-logos {
    background: #fff!important;
}
.sec-chatbot.section-whyMerticsAwesome, .sec-chatbot.section-reviews {
    background: #f3f8fb!important;
}
.section-reviews .case-breathers1 {
    margin-top: 60px;
}

.sec-chatbot .intercom-chat {
    padding-top: 40px;
}
.section{
    float: left;
    width:100%;
}
.social-media-section {
    width: 100%;
    float: left;
    padding-top: 40px;
}
.each-arrow-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_box {
    position: relative;
    /* background: #fff; */
    min-width: 145px;
    float: left;
    border-radius: 5px;
    margin: 0 15px 0 15px;
    text-align: center;
    cursor: pointer;
}

.arrow_box:hover img, .testactive img.over {
    outline: 1px solid transparent;
}
.testactive .over {
    display: block;
}
.testactive .over {
    display: block;
}
.over1 {
    position: absolute;
    left: 2px;
    top: 1px;
    display: none;
}
.over2 {
    position: absolute;
    left: 2px;
    top: 1px;
    display: none;
}
.over3 {
    position: absolute;
    left: 2px;
    top: 1px;
    display: none;
}
.over4 {
    position: absolute;
    left: 2px;
    top: 1px;
    display: none;
}












@media (min-width: 1920px)
{
.sec-clients-logos .container.mobile-container {
    width: 1366px !important;
}
}