<div class="" id="pricing">
    <!-- Homepage section 1 start-->
    <section class="section section-1">
        <div class="container-fluid">
            <section id="plan-cycle" class="" style="font-family: montserratregular;">
                <div class="col-md-12 col-sm-12 col-xs-12 np billing-plan-list" id="plans">
                    <ul>
                        <li *ngFor="let planType of planTypes;let i=index " class="cycle-tab " [class.active]="activePlanIndex==i" [id]='planType.id'>
                            <a href="javascript:void(0)" class="hvr-sweep-to-right view" (click)="planTab(planType.id,i)">
                                <i class="material-icons">check</i>
                                {{planType.name}}
                                <label class="save-per">{{planType.description}}</label>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <div class="pricing-outer container pricing-col-four">
                <table>

                    <thead>
                        <tr class="">
                            <th>
                                <span class="expand-all">
                                    <i class="material-icons plus">add</i>
                                    <i class="material-icons minus">remove</i>
                                    &nbsp;Show Detailed Pricing
                                </span>
                            </th>
                            <th>
                                <h2>Freelancer</h2>
                                <ng-container *ngIf="annualActive">
                                    <span class="annual-price">
                                        <p class="strike-price">$45 
                                            <sub> mo.</sub> 
                                       
                                        </p>
                                        <p class="price">
                                            <sup>$</sup>25 <sub> mo.</sub>
                                         
                                        </p>
                                    </span>
                                    <span class="s-annual-price" style="display: none;">
                                        <p class="strike-price">$45 <sub>mo.</sub>
                                         
                                        </p>
                                        <p class="price">
                                            <sup>$</sup>30 <sub> mo.</sub>
                                         
                                        </p>
                                    </span>
                                </ng-container>
                                <span *ngIf="!annualActive" class="monthly-price">
                                    <!--<p class="strike-price">$45<sub> mo.</sub></p>-->
                                    <p class="price">
                                        <sup>$</sup>45
                                        <sub>mo.</sub>
                                     
                                    </p>
                                </span>
                                <span class="">
                                    <a href="https://app.outgrow.co/" target="_blank" class="signuplink params btn-hover">Start trial</a>
                                </span>
                            </th>
                            <th class="active">
                                <!-- <span class="ribbon">Most Popular</span> -->
                                <span class="label-popularPlan">Most Popular</span>
                                <h2>Essentials</h2>
                                <ng-container *ngIf="annualActive">
                                    <span class="annual-price">
                                        <p class="strike-price">$115 <sub> mo.</sub>
                                         
                                        </p>
                                        <p class="price">
                                            <sup>$</sup>95<sub> mo.</sub>
                                         
                                        </p>
                                    </span>
                                    <span class="s-annual-price" style="display: none;">
                                        <p class="strike-price">$115<sub> mo.</sub>
                                         
                                        </p>
                                        <p class="price">
                                            <sup>$</sup>105<sub> mo.</sub>
                                         
                                        </p>
                                    </span>
                                </ng-container>
                                <span *ngIf="!annualActive" class="monthly-price">
                                    <!--<p class="strike-price">$45<sub> mo.</sub></p>-->
                                    <p class="price">
                                        <sup>$</sup>115<sub> mo.</sub>
                                     
                                    </p>
                                </span>
                                <span class="">
                                    <a href="https://app.outgrow.co/" target="_blank" class="signuplink params btn-hover">Start trial</a>
                                </span>
                            </th>
                            <th>
                                <h2>Business</h2>
                                <ng-container *ngIf="annualActive">
                                    <span class="annual-price">
                                        <p class="strike-price">$720<sub> mo.</sub>
                                         
                                        </p>
                                        <p class="price">
                                            <sup>$</sup>600<sub> mo.</sub>
                                         
                                        </p>
                                    </span>
                                    <span class="s-annual-price" style="display: none;">
                                        <p class="strike-price">$720<sub> mo.</sub>
                                         
                                        </p>
                                        <p class="price">
                                            <sup>$</sup>667<sub> mo.</sub>
                                         
                                        </p>
                                    </span>
                                </ng-container>
                                <span *ngIf="!annualActive" class="monthly-price">
                                    <!--<p class="strike-price">$45<sub> mo.</sub></p>-->
                                    <p class="price">
                                        <sup>$</sup>720<sub> mo.</sub>
                                     
                                    </p>
                                </span>
                                <span class="">
                                    <a href="https://app.outgrow.co/" target="_blank" id="b-signup" class="signuplink params btn-hover">Start trial</a>
                                    <a href="javascript:void(0);" class="link-contact intercom_trigger" id="intercom_trigger">Contact us</a>
                                </span>
                            </th>
                            <th class="c1">
                                <h2>Freelancer</h2>
                                <label class="quiz-only">Quiz Only</label>
                                <ng-container *ngIf="annualActive">
                                    <span class="annual-price">
                                        <p class="strike-price">$22<sub> mo.</sub>
                                         
                                        </p>
                                        <p class="price">
                                            <sup>$</sup>14<sub> mo.</sub>
                                         
                                        </p>
                                    </span>
                                    <span class="s-annual-price" style="display: none;">
                                        <p class="strike-price">$45 
                                            <sub>mo.</sub>
                                         
                                        </p>
                                        <p class="price">
                                            <sup>$</sup>30<sub> mo.</sub>
                                         
                                        </p>
                                    </span>
                                </ng-container>
                                <span *ngIf="!annualActive" class="monthly-price">
                                    <!--<p class="strike-price">$45<sub> mo.</sub></p>-->
                                    <p class="price">
                                        <sup>$</sup>22<sub> mo.</sub>
                                     
                                    </p>
                                </span>
                                <span class="">
                                    <a href="https://app.outgrow.co/" target="_blank" class="signuplink params btn-hover">Start trial</a>
                                </span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngIf="annualActive">
                            <tr *ngFor="let annualPlan of annualPlans;let i = index" [id]="'sliding'+i" class="expand" (click)="runQueries(i);">
                                <th>
                                    {{annualPlan.name}}
                                    <i class="material-icons">help</i>
                                </th>
                                <td class="expand-child">
                                    <span [ngClass]="annualPlan.freelancerClass"></span>{{annualPlan.freelancerHead}}
                                    <span class="detail" >{{annualPlan.freelancerDescription}}</span>
                                </td>
                                <td class=" expand-child active-bg">
                                    <span [ngClass]="annualPlan.essentialsClass"></span>{{annualPlan.essentialsHead}}
                                    <span class="detail" >{{annualPlan.essentialsDescription}}</span>
                                </td>
                                <td class="expand-child">
                                    <span [ngClass]="annualPlan.businessClass"></span>{{annualPlan.businessHead}}
                                    <span class="detail" >{{annualPlan.businessDescription}}</span>
                                </td>
                                <td class="expand-child">
                                    <span [ngClass]="annualPlan.freelancerQuizClass"></span>{{annualPlan.freelancerQuizHead}}
                                    <span class="detail" >{{annualPlan.freelancerQuizDescription}}</span>
                                </td>

                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!annualActive">
                            <tr *ngFor="let monthlyPlan of monthlyPlans;let i=index" [id]="'sliding'+i" class="expand"  (click)="runQueries(i);">

                                <th>
                                    {{monthlyPlan.name}}
                                    <i class="material-icons">help</i>
                                </th>
                                <td class="expand-child ">
                                    <span [ngClass]="monthlyPlan.freelancerClass"></span>{{monthlyPlan.freelancerHead}}
                                    <span class="detail" >{{monthlyPlan.freelancerDescription}}</span>
                                </td>
                                <td class=" expand-child active-bg">
                                    <span [ngClass]="monthlyPlan.essentialsClass"></span>{{monthlyPlan.essentialsHead}}
                                    <span class="detail" >{{monthlyPlan.essentialsDescription}}</span>
                                </td>
                                <td class="expand-child ">
                                    <span [ngClass]="monthlyPlan.businessClass"></span>{{monthlyPlan.businessHead}}
                                    <span class="detail" >{{monthlyPlan.businessDescription}}</span>
                                </td>
                                <td class="expand-child ">
                                    <span [ngClass]="monthlyPlan.freelancerQuizClass"></span>{{monthlyPlan.freelancerQuizHead}}
                                    <span class="detail" >{{monthlyPlan.freelancerQuizDescription}}</span>
                                </td>
                           </tr>
                        </ng-container>

                    </tbody>

                </table>

                <!-- start: for responsive -->
                <!-- freelancer starts-->
                <div class="col-md-12 col-sm-12 col-xs-12 np pricing-block">
                    <div class="pricing-top">
                        <h3>Freelancer</h3>
                        <span *ngIf="annualActive" class="annual-price">
                            <p class="strike-price">$45
                                <sub>mo.</sub>
                            </p>
                            <p class="price">
                                <sup>$</sup>25<sub>mo.</sub>
                                
                            </p>
                        </span>
                        <span *ngIf="!annualActive" class="monthly-price">
                            <p class="price">
                                <sup>$</sup>45<sub>mo.</sub>
                              
                            </p>
                        </span>
                        <span class="">
                            <a href="//app.outgrow.co" target="_blank" class="signuplink params btn-hover">Buy now</a>
                        </span>
                    </div>
                    <div class="pricing-bottom open">
                        <ul *ngIf="annualActive" class="features" [class.rs-hide]="slideFreelancer">
                            <li class="expand-rs" *ngFor="let annualPlan of annualPlans">
                                <span class="feature-title">{{annualPlan.name}}
                                    <i class="material-icons">help</i>
                                </span>
                                <span class="feature-subtitle yearlyLeads">
                                    <span [ngClass]="annualPlan.freelancerClass"></span>{{annualPlan.freelancerHead}}</span>
                                <span class="detail">{{annualPlan.freelancerDescription}} </span>
                            </li>
                        </ul>
                        <ul *ngIf="!annualActive" class="features" [class.rs-hide]="slideFreelancer">
                            <li class="expand-rs" *ngFor="let monthlyPlan of monthlyPlans">
                                <span class="feature-title">{{monthlyPlan.name}}
                                    <i class="material-icons">help</i>
                                </span>

                                <span class="feature-subtitle monthlyLeads hide">
                                    <span [ngClass]="monthlyPlan.freelancerClass"></span>{{monthlyPlan.freelancerHead}}</span>
                                <span class="detail">{{monthlyPlan.freelancerDescription}}</span>
                            </li>
                        </ul>

                        <a href="javascript:void(0);" class="toggle-more">
                            <i class="material-icons">add</i>
                            <p class="more-info">Show more</p>
                        </a>
                    </div>
                </div>
                <!-- freelancer ends-->

                <!-- essential starts-->
                <div class="col-md-12 col-sm-12 col-xs-12 np pricing-block most-popular-plan">
                    <span class="label-popularPlan " style="width:100%">Most Popular</span>
                    <div class="pricing-top">
                        <h3>Essentials</h3>
                        <span *ngIf="annualActive" class="annual-price">
                            <p class="strike-price">$115
                                <sub>mo.</sub>
                            </p>
                            <p class="price">
                                <sup>$</sup>95<sub>mo.</sub>
                                
                            </p>
                        </span>
                        <span *ngIf="!annualActive" class="monthly-price">
                            <p class="price">
                                <sup>$</sup>115<sub>mo.</sub>
                                
                            </p>
                        </span>
                        <span class="">
                            <a href="//app.outgrow.co" target="_blank" class="signuplink params btn-hover">Buy now</a>
                        </span>
                    </div>
                    <div class="pricing-bottom open">
                        <ul *ngIf="annualActive" class="features" [class.rs-hide]="slideEssentials">
                            <li class="expand-rs" *ngFor="let annualPlan of annualPlans">
                                <span class="feature-title">{{annualPlan.name}}
                                    <i class="material-icons">help</i>
                                </span>
                                <span class="feature-subtitle yearlyLeads">
                                    <span [ngClass]="annualPlan.essentialsClass"></span>{{annualPlan.essentialsHead}}</span>
                                <span class="detail">{{annualPlan.essentialsDescription}} </span>
                            </li>
                        </ul>
                        <ul *ngIf="!annualActive" class="features" [class.rs-hide]="slideEssentials">
                            <li class="expand-rs" *ngFor="let monthlyPlan of monthlyPlans">
                                <span class="feature-title">{{monthlyPlan.name}}
                                    <i class="material-icons">help</i>
                                </span>

                                <span class="feature-subtitle monthlyLeads hide">
                                    <span [ngClass]="monthlyPlan.essentialsClass"></span>{{monthlyPlan.essentialsHead}}</span>
                                <span class="detail">{{monthlyPlan.essentialsDescription}}</span>
                            </li>
                        </ul>

                        <a href="javascript:void(0);" class="toggle-more">
                            <i class="material-icons">add</i>
                            <p class="more-info">Show more</p>
                        </a>
                    </div>
                </div>
                <!-- essential ends-->

                <!-- business starts-->
                <div class="col-md-12 col-sm-12 col-xs-12 np pricing-block">
                    <div class="pricing-top">
                        <h3>Business</h3>
                        <span *ngIf="annualActive" class="annual-price">
                            <p class="strike-price">$720
                                <sub>mo.</sub>
                            </p>
                            <p class="price">
                                <sup>$</sup>600<sub>mo.</sub>
                                
                            </p>
                        </span>
                        <span *ngIf="!annualActive" class="monthly-price">
                            <p class="price">
                                <sup>$</sup>720<sub>mo.</sub>
                               
                            </p>
                        </span>
                        <span class="">
                            <a href="//app.outgrow.co" target="_blank" class="signuplink params btn-hover">Buy now</a>
                        </span>
                    </div>
                    <div class="pricing-bottom open">
                        <ul *ngIf="annualActive" class="features" [class.rs-hide]="slideBusiness">
                            <li class="expand-rs" *ngFor="let annualPlan of annualPlans">
                                <span class="feature-title">{{annualPlan.name}}
                                    <i class="material-icons">help</i>
                                </span>
                                <span class="feature-subtitle yearlyLeads">
                                    <span [ngClass]="annualPlan.businessClass"></span>{{annualPlan.businessHead}}</span>
                                <span class="detail">{{annualPlan.businessDescription}} </span>
                            </li>
                        </ul>
                        <ul *ngIf="!annualActive" class="features" [class.rs-hide]="slideBusiness">
                            <li class="expand-rs" *ngFor="let monthlyPlan of monthlyPlans">
                                <span class="feature-title">{{monthlyPlan.name}}
                                    <i class="material-icons">help</i>
                                </span>

                                <span class="feature-subtitle monthlyLeads hide">
                                    <span [ngClass]="monthlyPlan.businessClass"></span>{{monthlyPlan.businessHead}}</span>
                                <span class="detail">{{monthlyPlan.businessDescription}}</span>
                            </li>
                        </ul>

                        <a href="javascript:void(0);" class="toggle-more">
                            <i class="material-icons">add</i>
                            <p class="more-info">Show more</p>
                        </a>
                    </div>
                </div>
                <!-- business ends-->

                <!-- freelancer Quiz starts-->
                <div class="col-md-12 col-sm-12 col-xs-12 np pricing-block">
                    <div class="pricing-top">
                        <h3>Freelancer</h3>
                        <!-- <label class="quiz-only">Quiz Only</label> -->
                        <span *ngIf="annualActive" class="annual-price">
                            <p class="strike-price">$22
                                <sub>mo.</sub>
                            </p>
                            <p class="price">
                                <sup>$</sup>14<sub>mo.</sub>
                                
                            </p>
                        </span>
                        <span *ngIf="!annualActive" class="monthly-price">
                            <p class="price">
                                <sup>$</sup>22<sub>mo.</sub>
                                
                            </p>
                        </span>
                        <span class="">
                            <a href="//app.outgrow.co" target="_blank" class="signuplink params btn-hover">Buy now</a>
                        </span>
                    </div>
                    <div class="pricing-bottom open">
                        <ul *ngIf="annualActive" class="features" [class.rs-hide]="slideFreelancerQuiz">
                            <li class="expand-rs" *ngFor="let annualPlan of annualPlans">
                                <span class="feature-title">{{annualPlan.name}}
                                    <i class="material-icons">help</i>
                                </span>
                                <span class="feature-subtitle yearlyLeads">
                                    <span [ngClass]="annualPlan.freelancerQuizClass"></span>{{annualPlan.freelancerQuizHead}}</span>
                                <span class="detail">{{annualPlan.freelancerQuizDescription}} </span>
                            </li>
                        </ul>
                        <ul *ngIf="!annualActive" class="features" [class.rs-hide]="slideFreelancerQuiz">
                            <li class="expand-rs" *ngFor="let monthlyPlan of monthlyPlans">
                                <span class="feature-title">{{monthlyPlan.name}}
                                    <i class="material-icons">help</i>
                                </span>

                                <span class="feature-subtitle monthlyLeads hide">
                                    <span [ngClass]="monthlyPlan.freelancerQuizClass"></span>{{monthlyPlan.freelancerQuizHead}}</span>
                                <span class="detail">{{monthlyPlan.freelancerQuizDescription}}</span>
                            </li>
                        </ul>

                        <a href="javascript:void(0);" class="toggle-more">
                            <i class="material-icons">add</i>
                            <p class="more-info">Show more</p>
                        </a>
                    </div>
                </div>
                <!-- freelancer Quiz Ends-->
                <!-- end for responsive -->
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 np create-exp" id="target">
                <div class="container">
                    <div class="col-md-3 col-sm-3 col-xs-12 np">
                        <h5>Create Custom </h5>
                        <span class="calc">Calculators/Quiz/Outcome/Poll</span>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12 np text-center create-exp-center">
                        <span class="create-exp-start">Starting From </span>
                        <span class="create-exp-price">$250</span>
                        <span class="text-opacity">/content piece</span>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 np">
                        <button class="btn btn-white-red-outline btn-hover intercom_trigger" id="intercom_trigger">CLICK HERE</button>
                    </div>
                    <!-- <button class="closeDiv"><i class="material-icons">cancel</i></button> -->
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 np enterprise_pos">
                <div class="col-md-12 col-sm-12 col-xs-12 np text-center need-custom-plan">
                    <a class="" href="javascrpt:void(0);">
                        <i class="material-icons">headset_mic</i>need enterprise grade features? Contact us.
                    </a>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <div class="container-enterprise">
                        <div class=" enterprise-box-new text-center">
                            <h2 class="title">Enterprise & Agency Plan</h2>
                            <span class="border-center"></span>
                            <p>
                                Made especially for power users and agencies, this plan gives you full access with a dedicated account manager, API access
                                and team training.
                            </p>
                            <button class="ic-launcher btn btn-white-red-outline btn-hover intercom_trigger" id="intercom_trigger" (click)="triggerIntercom()">contact us</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section-faq">
        <div class="container">
            <h1 class="section-2-heading mk-animate-element scale-up">
                Frequently Asked Questions
            </h1>
        </div>
        <div class="container-faqs">
            <div class="col-md-12 col-sm-12 col-xs-12 np">
                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            What happens during and after the trial period?
                        </div>
                        <div class="faq-section-content">
                            <p>When you sign up, you will be assigned to our Business Premium plan. You will have access to
                                this plan for 7 days. Should you choose to continue with the business plan, you will have
                                to add your payment method.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            How is my data handled?
                        </div>
                        <div class="faq-section-content">
                            <p>Very very securely. We use AWS serves which is basically the gold standard in hosting. We use
                                industry benchmarked encryption for all sensitive data and subscribe to all major security
                                measures to safeguard your data.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            Any contracts or cancellation fees?
                        </div>
                        <div class="faq-section-content">
                            <p>For our Starter and Business premium tiers, we do not really have any contracts that need signatures.
                                We have a simple SaaS based pricing with simple terms of service. For Enterprise customers
                                though, we have a Service agreement which outlines SLAs and payment schedules etc.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            Can I get a test environment in case I do not want to publish my calculators?
                        </div>
                        <div class="faq-section-content">
                            <p>When you use the builder, just make sure you do not click “Publish”. That way, the calculator
                                will neither be made public nor will it get indexed in search engines. If you want to preview
                                the calculator, just click on “Preview” to see your edits reflect.</p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 np">
                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            What are your billing cycles and payment options?
                        </div>
                        <div class="faq-section-content">
                            <p>You have the option to pay monthly, quarterly or annually. Of course, we offer heavy discounts
                                if you buy for a longer duration.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            Can I white-label Outgrow’s tools?
                        </div>
                        <div class="faq-section-content">
                            <p>Yes, you can. But we will have to have a discussion around how we can make that work. Feel free
                                to email us at support@outgrow.co and we will see what we can do.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 np">
                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            Can I host on premises?
                        </div>
                        <div class="faq-section-content">
                            <p>Yes, you can. Just email us at support@outgrow.co.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            Do you charge per lead?
                        </div>
                        <div class="faq-section-content">
                            <p>No, we charge a flat price as per your membership tier</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 np">
                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            Can you build my calculators for me?
                        </div>
                        <div class="faq-section-content">
                            <p>Our DIY tool is pretty easy to use and learn, so you should be able to build your own calculators
                                very very quickly. For our enterprise customers, we provide a 1 month onboarding where we
                                help configure the first few calculators.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            Why should I upgrade?
                        </div>
                        <div class="faq-section-content">
                            <p>Well, calculators are awesome. But they are more awesome when you can run effective lead generation
                                programs, analyze the data about visitors, use your own branding and use some of our premium
                                design templates. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 np">
                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            Can I really build as many calculators as I want?
                        </div>
                        <div class="faq-section-content">
                            <p>Yes. We understand that you have tens if not hundreds of ideas and we want you to have unlimited
                                creative space to bring your ideas to life.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            I am an agency. Anything special for me?
                        </div>
                        <div class="faq-section-content">
                            <p>Sure. If you are an agency that works with multiple clients, we can figure out a mutually beneficial
                                partnership. Feel free to email us at
                                <a href="mailto:questions@outgrow.co" class="text-red">questions@outgrow.co </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 np">
                <div class="col-md-6 col-sm-12 col-xs-12 np">
                    <div class="faq-section">
                        <div class="faq-section-title">
                            Which integrations do you have?
                        </div>
                        <div class="faq-section-content">
                            <p>We support over 1000 integrations using Zapier and our current list of native integrations includes:
                                Marketo, Salesforce, Hubspot, Mailchimp, Slack, Campaign Monitor, Aweber, drip.co, Myemma,
                                Get Response, Unbounce, Listrak, Sendlane, Zoho, Intercom, Facebook messenger, Pardot, Active
                                Campaign.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end .accordion-->

    </section>
    <section class="section start-trial-cta mb0">
        <div class="container-fluid np">
            <div class="col-md-12 col-sm-12 col-xs-12 np">
                <div class="bg1-img">
                    <a href="//app.outgrow.co" id="trialAnchor">
                        <button class="btn-buildcal mk-animate-element left-to-right mk-in-viewport full-visible ripple">
                            <i class="material-icons">view_compact</i>
                            <p>Build Your interactive experience</p>
                        </button>
                    </a>
                    <!-- <label>No Credit Card Required</label> -->
                </div>
            </div>
        </div>
    </section>