
.section-1 {
    margin-bottom: 70px;
    padding-bottom: 30px;
    /* background: url(../images/watermark-logo.png) 0 10% no-repeat; */
}
.section-1 {
    margin-top: 65px!important;
    margin-bottom: 0px!important;
    background: #f3f8fb;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section {
    margin-bottom: 30px;
}
.ltd-plan h3 {
    color: #fb545b !important;
}
.section, .section-1 {
    margin-top: 30px;
    float: left;
    width: 100%;
}
.section-1 .container-fluid {
    padding: 0;
}
#plan-cycle {
    z-index: 9;
    position: relative;
    margin-bottom: 35px;
}
.billing-plan-list {
    border: 1px solid #ccc;
    border-radius: 25px;
    background: #fff;
    float: none;
    width: 50%;
    margin: 0px auto 30px;
}

.np {
    padding: 0;
}
.billing-plan-list ul {
    padding: 0;
    margin: 0;
}
.billing-plan-list ul>li {
    display: table-cell;
    width: 1%;
}
#pricing .billing-plan-list ul>li>a {
    padding: 8px 0;
}

.billing-plan-list ul>li:nth-child(1)>a {
    color: #8e989f;
    font-size: 11px;
    text-transform: uppercase;
    border: none !important;
    border-right: 1px solid #d7dbdd !important;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.billing-plan-list ul>li:nth-child(2)>a {
    color: #8e989f;
    font-size: 11px;
    text-transform: uppercase;
    border: none !important;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.billing-plan-list ul>li.active a {
    background: #f6f8f9 !important;
    color: #fff;
}
.billing-plan-list ul>li>a {
    color: #62696d !important;
    font-size: 11px;
    text-transform: uppercase;
    border: none !important;
    border-right: 1px solid #ccc !important;
    border-radius: 0;
    background: 0 0;
    padding: 8px;
    line-height: 17px;
    text-align: center;
    display: block;
    overflow: hidden;
}
.hvr-sweep-to-right {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    transition-duration: .3s;
}
.hvr-back-pulse, .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
}
.hvr-fade, .hvr-sweep-to-right {
    -webkit-transition-duration: .3s;
}
.billing-plan-list ul>li.active a i.material-icons {
    font-size: 18px;
    color: #0ead48;
    vertical-align: middle;
    padding-right: 3px;
    display: inline-block;
}


#pricing .pricing-headingtop {
    float: left;
    background: #fb6c73;
    margin-bottom: 40px;
}
.container, .content, .full_width {
    z-index: 100;
    position: relative;
}

.pricing-outer {
    clear: both;
    margin-top: 0px;
    width: 925px;
    padding: 0;
}
table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pricing-outer-ltdSales thead th {
    width: 50%;
}
thead th:nth-child(1) {
    background: transparent;
    vertical-align: bottom;
    font-size: 13px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 10px;
    border-right: 1px solid #bed4df;
}

thead th {
    background: linear-gradient(tobottom,#ffffff 0%,#f5f5f5 100%);
    text-align: center;
    position: relative;
    /* border-bottom: 1px solid #ccc; */
    font-weight: 400;
    color: #2b93be;
    font-size: 30px;
    font-family: montserratlight;
    padding-bottom: 15px;
    background: #fff;
    /* border-right: 1px solid #eff0f1; */
}
th {
    font-weight: normal;
}
th, td {
    font-family: montserratregular;
    font-size: 12px;
    /* line-height: 1.45; */
    color: #797f83;
    vertical-align: top;
    /* padding: 10px; */
}
thead th:nth-child(1) span {
    padding: 0;
    text-align: left;
    cursor: pointer;
    width: auto;
}
.pricing-outer-ltdSales .ltd-plan span.label-popularPlan {
    top: -2px;
    left: 0px;
    width: 100%;
}
thead span {
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto;
}
thead th:nth-child(1) i.material-icons {
    vertical-align: middle;
    position: relative;
    top: -2px;
    font-size: 20px;
}
.expand-all.open > .minus, .expand-all > .plus {
    display: inline-block;
}
.expand-all > .minus, .expand-all.open > .plus {
    display: none;
}
th.active {
    cursor: text;
    background: url(https://cdn.filestackcontent.com/I9cqiZQTQyKo3uGT28WZ)!important;
    z-index: 3;
    border-left: 1px solid #bed4df;
    border-right: 1px solid #bed4df;
}
.ltd-plan span.label-popularPlan {
    top: -7px;
    left: -1px;
    width: 232px;
}

span.label-popularPlan {
    position: absolute;
    width: 100%;
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(140, 130, 131);
    text-transform: uppercase;
    top: -7px;
    left: 0px;
    z-index: 1;
    min-height: 21px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -6px 10px;
    padding: 3px 5px;
    border-top: 1px solid rgb(190, 212, 223);
}
.ltd-plan h2 {
    color: #fb545b;
    /* min-height: 37px; */
}
.pricing-outer-ltdSales li span.check i {
    color: #2b93be;
    font-size: 14px;
}

thead th h2 {
    font-size: 15px;
    color: #62696d;
    font-family: montserratlight;
    text-transform: uppercase;
    margin-top: 35px;
}
thead th p.price {
    font-size: 30px !important;
    color: #009ad8;
    font-family: montserratsemibold !important;
    line-height: normal;
    text-align: center;
}
thead th p.price sup {
    font-size: 20px;
    font-family: montserratlight;
}
thead th p.price small, .pricing-block span.annual-price small {
    font-size: 20px;
    top: -7px;
    position: relative;
}
thead span a {
    z-index: 9;
    position: relative;
}
thead span a {
    color: #fdfeff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background: #fb6c73;
    border-radius: 4px;
    padding: 9px 10px;
    font-size: 13px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.btn-hover:hover, .btn-hover:focus {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    background: #fdb6b9 !important;
    color: #fb545b !important;
    border-color: #fdb6b9 !important;
}
a:focus, a:hover {
    text-decoration: none;
    color: inherit;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
thead th sub {
    font-size: 14px;
    bottom: 0px;
    font-family: montserratlight;
    left: 0px;
}

tbody th {
    background: #fff;
    border-left: 1px solid #eff0f1;
    /* border: 1px solid #eff0f1; */
    border-top: 1px solid #eff0f1;
    border-bottom: 1px solid transparent;
    padding: 10px;
    line-height: 20px;
}
th {
    font-weight: normal;
}
th, td {
    font-family: montserratregular;
    font-size: 12px;
    /* line-height: 1.45; */
    color: #797f83;
    vertical-align: top;
    /* padding: 10px; */
}
tbody th i.vis-hide {
    visibility: hidden!important;
}
tbody th i.material-icons {
    color: #2b93be;
    vertical-align: middle;
    position: relative;
    top: -2px;
    visibility: visible;
    padding-right: 5px;
    font-size: 20px;
}

td.active-bg {
    background: url(https://cdn.filestackcontent.com/I9cqiZQTQyKo3uGT28WZ)!important;
    border-left: 1px solid #bed4df;
    border-right: 1px solid #bed4df;
}

tbody td {
    background: #fff;
    text-align: left;
    font-family: montserratlight;
    padding: 15px;
    line-height: 1;
    z-index: 2;
    position: relative;
    width: 25%;
    border-right: 1px solid #eff0f1;
}
.quater {
    background: url(https://cdn.filestackcontent.com/jPJvrC2nQi2kRB1MeGUq) no-repeat;
    width: 13px;
    height: 13px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

tbody td span {
    float: left;
    width: 91%;
    line-height: 16px;
}
.half {
    background: url(https://cdn.filestackcontent.com/WIbfARSQyq4KqKfJGLx4) no-repeat;
    width: 13px;
    height: 13px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.full {
    background: url(https://cdn.filestackcontent.com/Mcu6lZxSdC4be8yWuAm5) no-repeat;
    width: 13px;
    height: 13px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.pricing-outer-ltdSales thead th h2 {
    margin-top: 40px;
}
.pricing-outer-ltdSales thead th {
    width: 50%;
}
.pricing-outer-ltdSales thead th h2 {
    margin-top: 40px;
}
.monthly-price, .s-annual-price {
    display: none;
}
.pricing-outer-ltdSales td.active-bg {
    border-right: 1px solid #bed4df;
}

.pricing-outer-ltdSales tbody td {
    /* background: #fff; */
    text-align: left;
    font-family: montserratlight;
    padding: 10px 15px;
    line-height: 21px;
}

.pricing-outer-ltdSales td span.check {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-top: 3px;
}
.pricing-outer-ltdSales td span.check i {
    color: #2b93be;
    font-size: 14px;
}
.pricing-outer-ltdSales td span.check {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-top: 3px;
}
.faq-section-ltd {
    margin-left: 40px;
    border: 1px solid #eff0f1;
    /* max-width: 433px; */
    padding: 20px;
    background: #fff;
}
.title-faq {
    font-size: 24px;
    color: #fb5f66;
    font-family: montserratlight;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.faq-section-ltd .faq-section-title {
    color: #62686c;
    font-size: 13px;
    font-family: montserratregular;
    line-height: 20px;
    margin-bottom: 5px;
}
.faq-section-ltd .faq-section-title {
    color: #62686c;
    font-size: 13px;
    font-family: montserratregular;
    line-height: 20px;
    margin-bottom: 5px;
}
.faq-section-ltd .faq-section-content p {
    font-family: montserratlight;
    font-size: 12px;
    color: #98a1a7;
    line-height: 20px;
    margin-bottom: 20px;
}
.pricing-outer-ltdSales {
    width: 100%;
    margin-top: 0px;
    float: left;
}
.pricing-block {
    display: none;
}
.ltdSales-wrapper .asterix-text {
    text-align: center;
    font-size: 12px;
    font-family: montserratlight;
    opacity: 0.85;
    margin-top: 10px;
    padding: 0px 10px;
    float: left;
    width: 100%;
}

tbody tr:last-child th {
    border-bottom: 1px solid #eff0f1;
    /* padding-bottom: 20px; */
}
tbody tr:last-child td.active-bg {
    border-bottom: 1px solid #bed4df;
}
.mb0 {
    margin-bottom: 0px!important;
}
.start-trial-cta {
    margin: 0px 0px 50px;
}
.bg1-img {
    text-align: center;
}
.bg1-img {
    background: url(/assets/images/strtFreeTrial.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 70px 0 100px;
}
.bg1-img .btn-buildcal {
    background: #fb6c73;
    border: 2px solid #fb6c73;
    color: #fff;
    float: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 45px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 50px;
}
.start-trial-cta .btn-buildcal i {
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.start-trial-cta .btn-buildcal p {
    float: left;
    margin: 0 10px 0 0;
    line-height: 30px;
}
tbody tr:hover {
    background: #f5fbff;
    cursor: pointer;
}
.detail {
    display: none;
    line-height: 16px;
    color: #2b93be;
    font-size: 11px;
    padding: 10px 0px 0px 10px;
    font-family: montserratlight;
    float: left;
    width: 100%;
}
tr.expand.open td.expand-child.active-bg {
    background: #f5fbff!important;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, .10);
    border-bottom: 1px solid #f5fbff;
}
.expand.open th > .minus, .expand th > .plus {
    display: inline-block;
}

.expand th > .minus, .expand.open th > .plus {
    display: none;
}
tbody tr.expand.open th {
    vertical-align: top;
    border-bottom: 1px solid #e0f2fe;
    background: #f5fbff;
}

tr.expand.open th {
    background: #f5fbff;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, .10);
    border-top: 1px solid #f5fbff;
}
.faq-section-ltd .faq-section-content:last-child p {
    margin-bottom: 0px;
}
tr.expand.open {
    background: #f5fbff;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, .10);
    border-bottom: 1px solid #e0f2fe;
    border-top: 1px solid #e0f2fe;
}
.pricing-outer-ltdSales li span.check {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    vertical-align: sub;
}
@media (max-width: 1920px) and (min-width: 1440px)
{
    .section-1 {
        margin-top: 76px !important;
        padding-top: 60px !important;
    }
 .section-1 {
    margin-top: 45px;
    padding-top: 10px;
}
.pricing-headingtop {
    background: linear-gradient(to bottom, #fb6c73 448px, #fff 100px);
}
.section-1 {
    margin-top: 70px;
}

}

@media (max-width: 1800px) and (min-width: 1480px)
{
 .section-1 {
    margin-top: 76px !important;
    padding-top: 60px !important;
}
 .section-1 {
    margin-top: 65px;
    margin-bottom: 0px;
    background: #f3f8fb;
    padding-top: 50px;
    padding-bottom: 50px;
}
}
@media screen and (max-width: 990px)
{
table {
    display: none;
}
.pricing-outer-ltdSales .pricing-block {
    display: block;
    text-align: center;
    background: #fff;
    border: 1px solid #eff0f1;
    margin-bottom: 0;
}
.pricing-outer-ltdSales .ltd-plan span.label-popularPlan {
    width: 100% !important;
    left: 0px !important;
}
.pricing-top {
    padding: 15px 30px;
}
.pricing-outer-ltdSales .pricing-top h3 {
    margin-top: 25px;
}

.pricing-top h3 {
    font-size: 22px;
    color: #797f83;
    font-family: montserratlight;
    margin-top: 15px;
}

.pricing-top p.price {
    font-size: 30px !important;
    color: #009ad8;
    font-family: montserratsemibold !important;
    line-height: normal;
    text-align: center;
}
.pricing-top p.price sup {
    font-size: 20px;
    font-family: montserratlight;
}
.pricing-top span a {
    color: #fdfeff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    background: #fb6c73;
    border-radius: 4px;
    padding: 11px 30px;
    font-size: 13px;
}
.pricing-bottom ul {
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}
.pricing-bottom ul li {
    list-style: none;
    margin-bottom: 0px;
    padding: 10px 0px;
    float: left;
    width: 100%;
}
.pricing-bottom ul li .feature-title {
    font-size: 13px;
    font-family: montserratregular;
    color: #797f83;
    display: block;
}
.pricing-bottom ul li .feature-subtitle {
    font-size: 12px;
    color: #797f83;
    font-family: montserratlight;
}
.ltdSales-wrapper .asterix-text {
    padding: 0px 20px;
}
.faq-section-ltd {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.pricing-outer.container.pricing-outer-ltdSales {
    padding-left: 15px;
    padding-right: 15px;
}
.pricing-bottom a.toggle-more {
    float: left;
    width: 100%;
    color: #2b93be;
    background: #eff0f1;
    padding: 3px;
    margin-top: 7px;
}
.pricing-bottom a.toggle-more .more-info {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
}
.pricing-bottom a.toggle-more i {
    vertical-align: middle;
    position: relative;
    top: -1px;
    font-size: 13px;
}
.pricing-outer-ltdSales .pricing-top h3 {
    margin-top: 25px;
}
.pricing-bottom ul {
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}

.pricing-bottom ul li .feature-title i.material-icons {
    color: #2b93be;
    vertical-align: middle;
    position: relative;
    top: -2px;
    visibility: visible;
    padding-right: 5px;
    font-size: 20px;
}
.expand-rs.open .minus, .expand-rs .plus {
    display: inline-block;
}
.expand-rs .minus, .expand-rs.open .plus {
    display: none;
}
.expand-rs.open {
    background: #f5fbff;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, .10);
    border-top: 1px solid #e0f2fe;
    cursor: pointer;
}

.pricing-bottom ul li {
    list-style: none;
    margin-bottom: 0px;
    padding: 10px 0px;
    float: left;
    width: 100%;
}
}
@media (max-width: 768px) and (min-width: 320px)
{
.rs-hide {
    display: none;
}
.section-1 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.start-trial-cta .btn-buildcal {
    padding: 10px 25px;
    font-size: 13px;
    line-height: 20px;
}
}
@media only screen and (max-width: 380px)
 and (max-width: 480px)
 {
.start-trial-cta .btn-buildcal {
    font-size: 13px !important;
    padding: 10px 25px !important;
    line-height: 22px !important;
}
 }
 @media only screen and (max-width: 380px)
 {}
.start-trial-cta .btn-buildcal p {
    line-height: 18px;
    float: none;
}